In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv('data/Tomato.csv')

In [4]:
df.head()

         Date Unit  Minimum  Maximum  Average  Market
0  2013-06-16   Kg       26       32     29.0  Tomato
1  2013-06-17   Kg       20       25     22.5  Tomato
2  2013-06-18   Kg       22       26     24.0  Tomato
3  2013-06-19   Kg       24       28     26.0  Tomato
4  2013-06-20   Kg       22       26     24.0  Tomato

In [5]:
df.tail()

            Date Unit  Minimum  Maximum  Average  Market
2736  2021-05-09   Kg       10       15     12.5  Tomato
2737  2021-05-10   Kg       10       15     12.5  Tomato
2738  2021-05-11   Kg       10       15     12.5  Tomato
2739  2021-05-12   Kg       30       35     32.5  Tomato
2740  2021-05-13   Kg       35       40     37.5  Tomato

In [6]:
df.dtypes

Date        object
Unit        object
Minimum      int64
Maximum      int64
Average    float64
Market      object
dtype: object

In [9]:
df["Unit"].unique()

array(['Kg'], dtype=object)

In [10]:
ohe = OneHotEncoder()
print(ohe)

OneHotEncoder()

In [17]:
ohe.fit_transform(df[["Date", "Unit"]]).toarray()

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 0., ..., 0., 1., 1.]])

In [23]:
feature_array = ohe.fit_transform(df[["Unit", "Market"]]).toarray()

In [24]:
ohe.categories_

[array(['Kg'], dtype=object), array(['Tomato'], dtype=object)]

In [25]:
feature_lables = ohe.categories_

In [27]:
np.array(feature_lables).ravel()

array(['Kg', 'Tomato'], dtype=object)

In [28]:
feature_lables = np.array(feature_lables).ravel()
print(feature_lables)

['Kg' 'Tomato']

In [29]:
pd.DataFrame(feature_array, columns = feature_lables)

       Kg  Tomato
0     1.0     1.0
1     1.0     1.0
2     1.0     1.0
3     1.0     1.0
4     1.0     1.0
...   ...     ...
2736  1.0     1.0
2737  1.0     1.0
2738  1.0     1.0
2739  1.0     1.0
2740  1.0     1.0

[2741 rows x 2 columns]

In [31]:
features = pd.DataFrame(feature_array, columns = feature_lables)

print(features)

       Kg  Tomato
0     1.0     1.0
1     1.0     1.0
2     1.0     1.0
3     1.0     1.0
4     1.0     1.0
...   ...     ...
2736  1.0     1.0
2737  1.0     1.0
2738  1.0     1.0
2739  1.0     1.0
2740  1.0     1.0

[2741 rows x 2 columns]

In [32]:
features.head()

    Kg  Tomato
0  1.0     1.0
1  1.0     1.0
2  1.0     1.0
3  1.0     1.0
4  1.0     1.0

In [35]:
pd.concat([df,features],axis=1)

            Date Unit  Minimum  Maximum  Average  Market   Kg  Tomato
0     2013-06-16   Kg       26       32     29.0  Tomato  1.0     1.0
1     2013-06-17   Kg       20       25     22.5  Tomato  1.0     1.0
2     2013-06-18   Kg       22       26     24.0  Tomato  1.0     1.0
3     2013-06-19   Kg       24       28     26.0  Tomato  1.0     1.0
4     2013-06-20   Kg       22       26     24.0  Tomato  1.0     1.0
...          ...  ...      ...      ...      ...     ...  ...     ...
2736  2021-05-09   Kg       10       15     12.5  Tomato  1.0     1.0
2737  2021-05-10   Kg       10       15     12.5  Tomato  1.0     1.0
2738  2021-05-11   Kg       10       15     12.5  Tomato  1.0     1.0
2739  2021-05-12   Kg       30       35     32.5  Tomato  1.0     1.0
2740  2021-05-13   Kg       35       40     37.5  Tomato  1.0     1.0

[2741 rows x 8 columns]

In [37]:
df_new = pd.concat([df,features],axis=1)

In [39]:
df_new.head()

         Date Unit  Minimum  Maximum  Average  Market   Kg  Tomato
0  2013-06-16   Kg       26       32     29.0  Tomato  1.0     1.0
1  2013-06-17   Kg       20       25     22.5  Tomato  1.0     1.0
2  2013-06-18   Kg       22       26     24.0  Tomato  1.0     1.0
3  2013-06-19   Kg       24       28     26.0  Tomato  1.0     1.0
4  2013-06-20   Kg       22       26     24.0  Tomato  1.0     1.0